html {
	padding: 0;
	margin: 0;
}

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.sudoku {
	display: grid;
	justify-items: stretch;
	align-items: stretch;
}

.size-4 {
	width: calc(45px * 4);
	height: calc(45px * 4);
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
}

.size-9 {
	width: calc(45px * 9);
	height: calc(45px * 9);
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

.sudoku-box {
	border: red solid 1px;
	display: grid;
}

.box-size-4 {
	grid-template-rows: repeat(2, 1fr);
	grid-template-columns: repeat(2, 1fr);
}

.box-size-9 {
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(3, 1fr);
}

.sudoku-item {
	border: black 1px solid;
	display: flex;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.sudoku-item:hover {
	background: rgb(170, 167, 167);
}
