.app {
	border: solid 1px black;
	background-color: rgba(25, 25, 25, 0.4);
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 15px;
	padding: 15px;
}

.navigation {
	background: cornflowerblue;
	grid-column: 1/5;
}

.header {
	background: purple;
	grid-column: 1/4;
}
.content {
	background: green;
	grid-column: 1/4;
	grid-row: 3/5;
}
.ad {
	border: 2px solid red;
	grid-column: 4/5;
	grid-row: 2/5;
}
.footer {
	background: lime;
	grid-column: 1/-1;
}
.center {
	background: brown;
	grid-column: 2/4;
	grid-row: 2/5;
	/* position: absolute; */
}
